@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Open+Sans:wght@300;400&display=swap");

:root {
  --main-color: #754ef9;
  --secondary-color: #ffffff;
  --x-large: 10rem;
  --large: 36pt;
  --medium: 26pt;
  --normal: 16pt;
  --small: 12pt;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#nav-menu {
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  font-weight: 200;
}

#nav-menu li {
  display: inline-block;
  font-size: var(--normal);
  margin-bottom: 20px;
}

.menu-item {
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 10px;
  text-transform: uppercase;
}

.menu-item:hover {
  color: var(--secondary-color);
  background-color: var(--main-color);
}

.main-container {
  display: flex;
  width: 100%;
  min-height: 65vh;
  height: 100vh;
  background-color: var(--main-color);
}

.left-side {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-color);
}

.title h2 {
  font-size: var(--large);
  color: var(--secondary-color);
  font-family: "Dancing Script", cursive;
}

.subtitle p {
  font-size: var(--normal);
  text-transform: uppercase;
  color: var(--secondary-color);
  text-align: center;
  /* font-family: "Dancing Script", cursive; */
}

.fa-heart {
  color: red;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 1 1 80%;
  background-color: var(--secondary-color);
  margin: 0 0 16pt 0;
}

.welcome-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  height: 100%;
}

.intro {
  text-align: center;
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Dancing Script", cursive;
}

.large {
  font-size: var(--large);
}

.align-left {
  text-align: left;
}

.intro h1 {
  font-size: var(--x-large);
  text-transform: uppercase;
}

.intro h2 {
  font-size: var(--medium);
}

.diff-color {
  color: var(--main-color);
}

.block {
  display: block;
}

.outer-circle {
  border-radius: 50%;
  position: relative;
  width: auto;
  left: calc(50%);
  border-bottom: 20px var(--main-color) solid;
  border-top: 20px var(--secondary-color) solid;
  border-left: 20px var(--secondary-color) solid;
  border-right: 20px var(--main-color) solid;
  transform: rotate(-45deg);
  transition: transform ease-in 2s;
}

.inner-circle {
  border-radius: 50%;
  border-bottom: 20px var(--secondary-color) solid;
  border-top: 20px var(--main-color) solid;
  border-left: 20px var(--main-color) solid;
  border-right: 20px var(--secondary-color) solid;
  transition: transform ease-in 2s;
  display: flex;
  flex: 1 1 auto;
}

.inner-circle img {
  width: 100%;
  border-radius: 50%;
  transform: rotate(45deg);
  transition: transform ease-in 2s;
}

.intro p {
  font-size: 25pt;
}

.social-links {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  color: var(--main-color);
  letter-spacing: 3px;
}

.social-links p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: var(--medium);
  vertical-align: middle;
  margin-bottom: 20px;
}

.social-links ul {
  text-align: right;
  font-size: var(--medium);
}

.fa {
  padding-bottom: 10px;
}

.paragraph {
  font-size: var(--normal);
  color: black;
  padding: 10px 20px;
}

/* ABOUT */
#about-me {
  text-align: center;
  margin: 60px 0 100px 0;
  max-width: 1200px;
  margin: 0 auto 10px;
}

#about-info {
  margin: 0 30px 0;
}

#about-info img {
  width: auto;
  height: auto;
  margin-right: 20px;
  max-height: 50vh;
  float: left;
}

#about-info div {
  margin-bottom: 120px;
}

.header {
  font-size: var(--medium);
  padding: 20px 0;
  text-align: center;
}

/* Qualities Section */

#qualities {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: var(--main-color);
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--main-color);
  margin-bottom: 75px;
}

.justify-left {
  justify-content: left;
}

main p {
  color: black;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.box {
  display: flex;
  flex: 0 0 300px;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  min-height: 400px;
  padding: 10px 20px;
  margin: 10px 10px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.learn-more {
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 5px 20px;
  border: none;
  font-size: var(--small);
}

i.icon {
  font-size: var(--large);
  color: var(--main-color);
}

/* End Qualities Section */

/* Portfolio */

.project-card {
  display: flex;
  flex: 1 1 525px;
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 30px;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15),
    0 55px 50px -20px rgba(34, 36, 38, 0.25);
}

.card {
  display: flex;
  flex: 1 1 200px;
  min-height: 425px;
  flex-direction: column;
  padding: 20px;
}

.project-info {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.one {
  background-image: url("./images/screenshots/drum-machine.jpg");
}

div.two {
  background-image: url("./images/screenshots/pomodoro.png");
}

div.three {
  background-image: url("./images/screenshots/ecalendar.png");
  background-position: inherit;
}

div.four {
  background-image: url("./images/screenshots/calculator.png");
}

div.five {
  background-image: url("./images/screenshots/markdown.png");
  background-position: top;
}

.project-details {
  color: var(--secondary-color);
  background: linear-gradient(to bottom, #626d82 0%, #343d4d 100%);
  text-align: center;
}

.technologies {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links a {
  color: white;
  font-size: var(--medium);
}

.progress-bar {
  background-color: #f1f1f1 !important;
  height: 20px;
  margin-bottom: 5px;
}

.progress {
  height: 20px;
  background-color: var(--main-color);
}

.w100 {
  width: 100%;
}

.w95 {
  width: 95%;
}

.w90 {
  width: 90%;
}

.w70 {
  width: 70%;
}

.w80 {
  width: 80%;
}

.w40 {
  width: 40%;
}

.w30 {
  width: 30%;
}

.w20 {
  width: 20%;
}

.w10 {
  width: 10%;
}

.technologies > .details {
  display: flex;
  justify-content: space-between;
}

/* FOOTER */

#footer {
  background-color: var(--main-color);
  color: var(--secondary-color);
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#footer ul {
  text-align: center;
}

#footer h2 {
  font-size: var(--medium);
}

#copyright {
  text-align: center;
}

#copyright a {
  color: white;
}

.footer-menu li {
  display: inline;
  padding: 0 10px;
  font-size: var(--normal);
}

.footer-menu a {
  color: white;
}

.footer-social li {
  display: inline;
  padding: 5px;
  font-size: 25px;
}

.footer-social li a {
  color: white;
}

#copyright {
  font-size: var(--small);
}

.section-divider {
  display: none;
  visibility: hidden;
}

/* first breakpoint */
/* screen less than 980px */
@media only screen and (max-width: 980px) {
  .main-container {
    flex-direction: column;
  }

  .title {
    align-self: start;
    padding-left: 20px;
  }

  .subtitle {
    padding-right: 20px;
    padding-bottom: 20px;
  }

  #nav-menu {
    text-align: center;
    font-weight: 300;
  }

  .welcome-hero {
    padding: 10px 0;
  }

  .outer-circle {
    left: 0;
  }

  .inner-circle img {
    width: 250px;
  }

  .italic {
    font-style: italic;
  }

  .intro h1 {
    font-size: 5.5rem;
  }

  .subtitle {
    align-self: flex-end;
  }

  .social-links p {
    margin-bottom: 0;
  }

  .fa {
    padding-bottom: 0;
  }

  #about-header {
    position: relative;
    top: -140px;
    left: calc(-15%);
    color: white;
    height: 0;
  }

  #about-info img {
    display: inline;
  }

  #about-info div {
    display: inline;
  }

  .section-divider {
    display: block;
    visibility: visible;
  }

  /* https://www.shapedivider.app */

  .section-divider {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .section-divider svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
  }

  .section-divider .shape-fill {
    fill: #754ef9;
  }

  /* https://www.shapedivider.app */
}

/* screen less than 980px */
@media only screen and (max-width: 480px) {
  .title,
  .subtitle {
    display: none;
    visibility: hidden;
  }

  .main-container {
    min-height: 50vh;
  }

  .left-side {
    padding: 100px 0 20px;
  }

  .right-side nav {
    position: absolute;
    top: 0;
  }

  .right-side nav {
    width: 100%;
  }

  #nav-menu li {
    font-size: var(--small);
  }

  .menu-item {
    color: var(--secondary-color);
    padding: 0 10px;
  }

  .menu-item:hover {
    color: black;
    background-color: var(--secondary-color);
  }

  .inner-circle img {
    width: 150px;
  }

  .welcome-hero {
    flex-direction: column;
  }

  .intro {
    justify-content: space-evenly;
  }

  .intro h1 {
    font-size: var(--large);
  }

  .intro p {
    font-size: var(--normal);
  }

  .social-links {
    flex-direction: row;
    align-items: baseline;
  }

  .social-links p {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    font-size: var(--normal);
  }

  .social-links ul li {
    display: inline-block;
    font-size: 20pt;
  }

  .header {
    font-size: var(--normal);
  }

  .section-divider {
    display: none;
    visibility: hidden;
  }

  #about-info {
    flex-direction: column;
  }

  #about-header {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    color: black;
  }

  #about-info img {
    display: none;
    visibility: hidden;
  }

  #about-info div {
    margin-bottom: 100px;
  }

  /* FOOTER */

  #footer {
    flex-direction: column;
  }

  #footer ul {
    margin: 10px 0;
  }
}
